# Browsers that we support

# Production
[production]
defaults
not IE 11
not dead

# Development
[development]
last 2 chrome versions
last 2 firefox versions
last 2 safari versions
last 2 edge versions